{% extends 'admin/home.html.twig' %}

{% block title %}Users{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('click', '#delete', function(){
            var userId = $(this).closest("tr")[0].dataset['id'];

            $.ajax({
                type: 'DELETE',
                url: '/admin/users',
                data: {
                    id: userId
                },
                success: function(response){
                    $('#row_' + userId).fadeOut(400, function(){
                        $(this).remove();
                    });
                },
                error: function (xhr, error, code){
                },
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container border rounded" style="margin-top: 2em; min-height: 20em">
        <h2>IT TroubleShooting - Call #{{ call.getId() }}</h2>
        <h4><i>by {{ call.getOpenedBy().getName() }}</i></h4>
        <br/>

        <b>Created on:</b> {{ call.getOpenedOn().format('m-d-Y') }}<br/>
        <b>Taken by:</b> {{ (call.getAnsweredBy()) ? 'Awnsered by' . call.getAnsweredBy() : "No one <a class='btn btn-sm btn-primary' href='#' >Take this Call</a>" }}

        <hr/>
        
        {% for note in call.getNotes() %}
            <b>{{ call.getOpenedBy().getName() }}</b> <small><i>{{ note.getSentOn.format('m-d-Y') }}</i></small>: {{ note.getText() }} <br/>
        {% endfor %}
    </div>
{% endblock %}
