{% extends 'admin/home.html.twig' %}

{% block title %}Equipments{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('change', '#is_part', function(){
            if ($(this).is(':checked')){
                $('.availableParts').css('display', 'block');
                $('.myParts').css('display', 'none');

                if ($(this)[0].dataset['hasParts']) {
                    $('.parentWarning').css('display', 'block');
                }
            } else {
                $('.availableParts').css('display', 'none');
                $('.myParts').css('display', 'block');

                if ($(this)[0].dataset['hasParts'] && $('.parentWarning').css('display') == 'block') {
                    $('.parentWarning').css('display', 'none');
                }
            }
        });

        $(document).on('click', '#delete', function(){
            var equipmentId = $(this).closest("a")[0].dataset['id'];

            $.ajax({
                type: 'PUT',
                url: '/admin/equipments/unsetparent',
                data: {
                    id: equipmentId
                },
                success: function(response){
                    $('#row_' + equipmentId).fadeOut(400, function(){
                        $(this).remove();
                    });
                },
                error: function (xhr, error, code){
                },
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container border rounded" style="margin-top: 2em; min-height: 20em">
        <h2>IT TroubleShooting - Equipments</h2>

        <form action="{{ path('update_equipment') }}" method="post" >
            <input type="hidden" name="id" value="{{ equipment.id }}">
            <input type="hidden" name="_method" value="put" />
            
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{ equipment.name }}">
            </div>
            <div class="mb-3">
                <label for="sn" class="form-label">Serial number:</label>
                <input type="text" class="form-control" id="sn" name="sn" placeholder="" value="{{ equipment.sn }}">
            </div>
            <div class="mb-3">
                <label for="value" class="form-label">Value</label>
                <input type="number" class="form-control" id="value" step="0.01" name="value" placeholder="" value="{{ equipment.value }}">
            </div>

            <div class="mb-3">
                <label class="form-check-label" for="is_part">Is equipment part?</label><br/>
                <input class="form-check-input" data-has-parts="{{ (myParts != []) ? 'true' : '' }}" type="checkbox" name="is_part" id="is_part" {{ (equipment.getIsPart()) ? 'checked' : '' }}>
                <div class="alert alert-danger parentWarning" role="alert" style="padding: 0.5em; display: none;">
                    <small><i class="bi bi-exclamation-triangle"></i> <b>Warning:</b> setting this equipment as part will unset it as parent from all it's children</small>
                </div>
            </div>

            <div class="mb-3 availableParts" style="display: {{ (equipment.getHasParent() or equipment.getIsPart()) ? 'block' : 'none' }};">
                <label for="value" class="form-label">Part belongs to</label>
                <select class="form-select" id="parent_id" name="parent_id" aria-label="">
                    <option value=""></option>
                    {% for part in partsAvailable %}
                        <option value="{{ part.id }}" {{ (equipment.getHasParent() != null) ? ((equipment.getHasParent().getId() == part.id) ? 'selected' : '') : '' }}>{{ part.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 myParts" style="display: {{ (myParts != []) ? 'block' : 'none' }};">
                <b>Equipment has:</b><br/>
                {% if not myParts %}
                    0 parts
                {% else %}
                    {% for part in myParts %}
                        <span id="row_{{ part.getId() }}">{{ part.getName() }} <a data-id="{{ part.getId() }}" id="delete" href="#"><i class="bi bi-trash"></i></a><br/></span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="value" class="form-label">Equipment Type</label>
                <select class="form-select" id="type_id" name="type_id" aria-label="">
                    {% for type in types %}
                        <option value="{{ type.id }}" {{ (equipment.getEquipmentType.id == type.id) ? 'selected' : '' }} >{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>      

            <button type="submit" class="btn btn-primary "><i class="bi bi-save"></i> Save</button>
        </form>  
    </div>
{% endblock %}
