{% extends 'admin/home.html.twig' %}

{% block title %}Equipments{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('change', '#is_part', function(){
            if ($(this).is(':checked')){
                $('.partsList').css('display', 'block');
            } else {
                $('.partsList').css('display', 'none');
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container border rounded" style="margin-top: 2em; min-height: 20em">
        <h2>IT TroubleShooting - Equipments</h2>

        <form action="{{ path('create_equipment') }}" method="post" >
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="">
            </div>
            <div class="mb-3">
                <label for="sn" class="form-label">Serial number:</label>
                <input type="text" class="form-control" id="sn" name="sn" placeholder="">
            </div>
            <div class="mb-3">
                <label for="value" class="form-label">Value</label>
                <input type="number" class="form-control" step="0.01"  id="value" name="value" placeholder="">
            </div>

            <div class="mb-3">
                <label class="form-check-label" for="is_part">Is equipment part?</label><br/>
                <input class="form-check-input" type="checkbox" name="is_part" id="is_part">
            </div>

            <div class="mb-3 partsList" style="display: none;">
                <label for="value" class="form-label">Part belongs to</label>
                <select class="form-select" id="parent_id" name="parent_id" aria-label="">
                    <option value="" selected>Pick a equipment</option>
                    {% for part in parts %}
                        <option value="{{ part.id }}">{{ part.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="value" class="form-label">Equipment Type</label>
                <select class="form-select" id="type_id" name="type_id" aria-label="">
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="value" class="form-label">Used by</label>
                <select class="form-select" id="user_id" name="user_id" aria-label="">
                    <option value=""></option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.getName() }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary "><i class="bi bi-save"></i> Save</button>
        </form>  
    </div>
{% endblock %}
