{% extends 'admin/home.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="container border rounded" style="margin-top: 2em; min-height: 20em">
        <h2>IT TroubleShooting - Users</h2>

        <form action="{{ path('users') }}" method="post" >
            <input type="hidden" name="id" value="{{ user.id }}">
            <input type="hidden" name="_method" value="put" />

            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{ user.name }}">
            </div>
            <div class="mb-3">
                <label for="sn" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="" value="{{ user.email }}">
            </div>
            <div class="mb-3">
                <label for="value" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="" >
            </div>

            <div class="mb-3">
                <label for="value" class="form-label">User type</label>
                <select class="form-select"  id="type_id" name="type_id" aria-label="">
                    <option value="ROLE_ADMIN" {{ (user.getRoles()|join == 'ROLE_ADMIN') ? 'selected' : '' }} >Admin</option>
                    <option value="ROLE_USER" {{ (user.getRoles()|join == 'ROLE_USER') ? 'selected' : '' }} >User</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="value" class="form-label">Department</label>
                <select class="form-select" id="department_id" name="department_id" aria-label="">
                    {% for department in departments %}
                        <option value="{{ department.id }}" {{ (user.getDepartment.id == department.id ) ? 'selected' : '' }} >{{ department.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary "><i class="bi bi-save"></i> Save</button>
        </form>
    </div>
{% endblock %}
